
//Generales
$moradoclaro: #722AEB;
$morado: #0E0C64;
$rosa: #FF448E;

body {
	/*font-family: 'Monserrat', Arial, Helvetica, sans-serif;*/
	font-family: 'Poppins', sans-serif;

	font-size: 18px;

}

body.home{

	background-image: url(./img/simbolo_mujer.svg);
	background-position: right bottom;
	background-repeat: no-repeat;	
}

main,
main a,
footer,
footer a {
	color: #605E63 !important;
	text-decoration: none;
}

a:hover {
	color: black !important;
}

h1 {
	z-index: 10000;
}

//Utilidades
.bold {
	font-weight: bold;
}

.bgmorado {
	background-color: $morado;
}

.moradoclaro {
	color: $moradoclaro;
}

.morado,
.moradorosa {
	color: $morado;
}

.bgmorado20 {
	background: rgb(255, 255, 255);
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 70%, rgba(93, 31, 199, 1) 70%);
}

.bgrosa {
	background-color: $rosa;
	color: white !important;
}

.rosa {
	color: $rosa;
}

.bordermorado {
	border: $morado solid thin;
}

.height100 {
	height: 100%;
}

small {
	font-size: 12px;
}

.interior {
	.left-column{
		margin-top: 0px;
		@media (min-width: 992px){
			margin-top: -174px;
		}
	}
	img{
		width: 100%;
		max-width: 600px;
	}
}

.link{

	a{
		color: $morado !important;
		font-weight: bold;		
		border-bottom: 3px solid $morado;
	}

	&:hover{
		img{
			-webkit-transition: 0.2s ease-in-out;
			-moz-transition: 0.2s ease-in-out;
			-o-transition: 0.2s ease-in-out;
			transition: 0.2s ease-in-out;
			-webkit-transform: all;
			-moz-transform: all;
			-o-transform: all;
			-ms-transform: all;
			transform: all;

			margin-left: 20px !important;
		}
	}
	
}

nav {
	color: white;
	font-size: 14px;
	transition-duration: .5s;
	//background-color: $morado;

	&.navcontainer {
		z-index: 1000;
		position: fixed;
		width: 100%;

		a {
			color: $morado;
			font-weight: bold;
			&:hover{
				color: $rosa !important;
			}
		}
	}

	.navbar-brand {
		img {
			height: 45px;
			transition-duration: .5s;
		}
	}

	#logo {
		transition-duration: 2s;
		margin-top: 16px;
		margin-bottom: 16px;
		padding-left: 22px;
	}
}


.scrolled {

	nav {
		background-color: rgba(255, 255, 255, 0.6);;
		font-size: 12px;

		.navbar-brand {
			img {
				height: 30px !important;
				width: auto !important;
			}
		}
	}
}

header{
	.wrapper{
		position: absolute;
		top: 24%;
		left: 7%;
		color: #fff;
		width: 100%;
		@media(min-width: 576px){
			width: 50%;
		}
		h1{
			font-size: 49pt;
			color: $morado;
			span{
				color: #fff;
				font-size: 68pt;
			}			
		}
		button{
			padding: 18px 52px;


			@media (min-width: 992px){
				padding: 18px 90px;
			}

			border-radius: 30px;
			border: 0px;
			&.sesion{
				background-color: $morado;
				color: #fff;
			}
			&.registro{
				background-color: rgba(255, 255, 255, 0.9);
			}
		}
	}
}



header {
	#redes {
		right: 20px;
		/*bottom: 20px;
		width: 20px;
		text-align: center;*/

		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;

		img {
			height: 30px;
			margin-top: 12px;
		}
	}
}

button:hover{
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	-webkit-transform: all;
	-moz-transform: all;
	-o-transform: all;
	-ms-transform: all;
	transform: all;

	opacity: 0.7;
}


footer {
	font-size: 14px;
	background-color: #ECEBF0;
}

.leftcoltext {
	font-size: 30px;
	min-height: 1170px;
}

.readmore a,
.readmore a:hover {
	color: white !important;
}

.single main .mujer .left-col {
	border-right: none !important;
}

.single main .mujer {
	border-bottom: none !important;
}

.single main .mujer {
	background: none !important;
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	nav {
		background-color: unset !important;
	}

	h1.display-2.bold {
		padding-left: 100px;
	}

	.scrolled {
		nav {
			background-color: rgba(255, 255, 255, 0.9) !important;
		}
	}

	.readmore {
		position: absolute;
		left: 10px;
		bottom: 20px;
		color: white !important;

	}
}

nav.navigation.post-navigation {
	background: white !important;
	margin: 10px 0px;
}

nav.navigation.post-navigation {
	display: none;
}

.entry-meta {
	display: none;
}


div#navbarMain{
	transition-duration: .25s;
}
@media (max-width: 768px) {
	div#navbarMain.show,div#navbarMain.collapsing {
		background: #5d1fc7;
		width: 100%;
		margin: 0;
		padding: 30px 20px;
		position: fixed;
		left: 0;
		top: 85px;
		font-size: 20px;
	}
	header {
		padding-top: 90px;
		background: #5d1fc7;
	}

}
