/* Pages */
body {
  /*font-family: 'Monserrat', Arial, Helvetica, sans-serif;*/
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

body.home {
  background-image: url(./img/simbolo_mujer.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
}

main,
main a,
footer,
footer a {
  color: #605E63 !important;
  text-decoration: none;
}

a:hover {
  color: black !important;
}

h1 {
  z-index: 10000;
}

.bold {
  font-weight: bold;
}

.bgmorado {
  background-color: #0E0C64;
}

.moradoclaro {
  color: #722AEB;
}

.morado,
.moradorosa {
  color: #0E0C64;
}

.bgmorado20 {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 70%, rgb(93, 31, 199) 70%);
}

.bgrosa {
  background-color: #FF448E;
  color: white !important;
}

.rosa {
  color: #FF448E;
}

.bordermorado {
  border: #0E0C64 solid thin;
}

.height100 {
  height: 100%;
}

small {
  font-size: 12px;
}

/* Estilo para los articulos de debajo del Banner*/
.interior .left-column {
  margin-top: 0px;
}
@media (min-width: 992px) {
  .interior .left-column {
    margin-top: -174px;
  }
}
.interior img {
  width: 100%;
  max-width: 600px;
}

.link {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.link:hover img {
  transition: 0.2s ease-in-out;
  transform: all;
  margin-left: 20px !important;
}
.link p {
  color: #0E0C64 !important;
  font-weight: bold;
  border-bottom: 3px solid #0E0C64;
}
.link img {
  width: 32px;
  margin-left: 6px;
  height: -moz-fit-content;
  height: fit-content;
}

nav {
  color: white;
  font-size: 14px;
  transition-duration: 0.5s;
}
nav.navcontainer {
  z-index: 1000;
  position: fixed;
  width: 100%;
}
nav.navcontainer a {
  color: #0E0C64;
  font-weight: bold;
}
nav.navcontainer a:hover {
  color: #FF448E !important;
}
nav .navbar-brand img {
  height: 45px;
  transition-duration: 0.5s;
}
nav #logo {
  transition-duration: 2s;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 22px;
}

.scrolled nav {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}
.scrolled nav .navbar-brand img {
  height: 30px !important;
  width: auto !important;
}

header .wrapper {
  position: absolute;
  top: 24%;
  left: 7%;
  color: #fff;
  width: 100%;
}
@media (min-width: 576px) {
  header .wrapper {
    width: 50%;
  }
}
header .wrapper h1 {
  font-size: 49pt;
  color: #0E0C64;
}
header .wrapper h1 span {
  color: #fff;
  font-size: 68pt;
}
header .wrapper button {
  padding: 18px 52px;
  border-radius: 30px;
  border: 0px;
}
@media (min-width: 992px) {
  header .wrapper button {
    padding: 18px 90px;
  }
}
header .wrapper button.sesion {
  background-color: #0E0C64;
  color: #fff;
}
header .wrapper button.registro {
  background-color: rgba(255, 255, 255, 0.9);
}

header #redes {
  right: 20px;
  /*bottom: 20px;
  width: 20px;
  text-align: center;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
header #redes img {
  height: 30px;
  margin-top: 12px;
}

button:hover {
  transition: 0.5s ease-in-out;
  transform: all;
  opacity: 0.7;
}

.card-body {
  position: relative;
  z-index: 0;
}
.card-body .circle {
  background-color: #0E0C64;
  color: #fff;
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 30px;
  display: none;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .card-body .circle {
    display: flex;
  }
}
.card-body .circle.curso {
  height: 114px;
  width: 114px;
  border-radius: 50%;
}

footer {
  font-size: 14px;
  background-color: #ECEBF0;
}

.leftcoltext {
  font-size: 30px;
  min-height: 1170px;
}

.readmore a,
.readmore a:hover {
  color: white !important;
}

.single main .mujer .left-col {
  border-right: none !important;
}

.single main .mujer {
  border-bottom: none !important;
}

.single main .mujer {
  background: none !important;
}

@media (min-width: 768px) {
  nav {
    background-color: unset !important;
  }
  h1.display-2.bold {
    padding-left: 100px;
  }
  .scrolled nav {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }
  .readmore {
    position: absolute;
    left: 10px;
    bottom: 20px;
    color: white !important;
  }
}
nav.navigation.post-navigation {
  background: white !important;
  margin: 10px 0px;
}

nav.navigation.post-navigation {
  display: none;
}

.entry-meta {
  display: none;
}

div#navbarMain {
  transition-duration: 0.25s;
}

@media (max-width: 768px) {
  div#navbarMain.show, div#navbarMain.collapsing {
    background: #5d1fc7;
    width: 100%;
    margin: 0;
    padding: 30px 20px;
    position: fixed;
    left: 0;
    top: 85px;
    font-size: 20px;
  }
  header {
    padding-top: 90px;
    background: #5d1fc7;
  }
}
.accordion {
  text-align: center;
}
.accordion.width {
  display: flex;
  width: 100%;
}
.accordion.width .card {
  flex-direction: row;
  min-width: -moz-min-content;
  min-width: min-content;
}
.accordion.width .card:nth-child(1) .card-header {
  background-color: #FF448E;
  background-position: center bottom;
}
.accordion.width .card:nth-child(1) .card-header .card-numero {
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
}
.accordion.width .card:nth-child(1) button {
  background-color: #FF448E;
}
.accordion.width .card:nth-child(2) .card-header {
  background-color: #722AEB;
  background-position: center bottom;
}
.accordion.width .card:nth-child(2) .card-header .card-numero {
  background-image: url("../img/2.png");
  background-repeat: no-repeat;
}
.accordion.width .card:nth-child(2) button {
  background-color: #722AEB;
}
.accordion.width .card:nth-child(3) .card-header {
  background-color: #0E0C64;
  background-position: center bottom;
}
.accordion.width .card:nth-child(3) .card-header .card-numero {
  background-image: url("../img/3.png");
  background-repeat: no-repeat;
}
.accordion.width .card:nth-child(3) button {
  background-color: #0E0C64;
}
.accordion.width .card .card-header {
  cursor: pointer;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 104px;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
  transform: all;
}
.accordion.width .card .card-header p {
  margin: 10px 0 0 0;
}
.accordion.width .card .card-header .card-numero {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: bottom;
  opacity: 1;
  transition: 0.5s ease-in-out;
  transform: all;
}
.accordion.width .card .card-header.collapsed {
  color: rgba(255, 255, 255, 0.3);
}
.accordion.width .card .card-header.collapsed .card-numero {
  opacity: 0.3;
}
.accordion.width .card .card-body {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2rem;
}
.accordion.width .card .card-body h1 {
  margin-bottom: 2rem;
}
.accordion.width .card .card-body p {
  margin-bottom: 0;
}
.accordion.width .card .card-body button {
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  width: 228px;
  margin-top: 1rem;
}

.collapsing.width {
  transition: width 0.5s ease;
  height: auto;
  width: 10px;
}

h1 {
  color: #fc5e09;
}/*# sourceMappingURL=styles.css.map */